* {
    font-family: microsoft jhenghei;
    box-sizing: border-box;
    #app {
        margin-top: 100px;
        .container {
            max-width: 960px;
            margin: auto;
            .prod-area{
                width: 100%;
                float: left;
                .prod{
                    float: none;
                    width: 31.333333%;
                    margin: 10px 1% 20px 1%;
                    position: relative;
                    border: 1px solid #ddd;
                    padding: 15px;
                    transition: all .4s;
                    vertical-align: top;
                    display: inline-block;
                    &:hover{
                        border-color: #ff4e3d;
                        border-radius: 10px;
                    }
                    &-frame{
                        position: relative;
                        width: 100%;
                        padding-top: 100%;
                        .prod-img{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            width: 100%;
                            height: 100%;
                            background-position: center;
                            background-size: cover;
                            text-align: center;
                            img{
                                width: auto;
                                height: auto;
                                max-width: 100%;
                                max-height: 100%;
                            }
                        }
                    }
                    &-title{
                        font-weight: bold;
                        font-size: 20px;
                        text-decoration: none;
                        color: #000;
                    }
                    &-type{
                        text-align: right;
                        margin-bottom: 10px;
                        &:before{
                            content: '- ';
                        }
                    }
                    .prod-content{
                        height: 78px;
                        overflow: hidden;
                        color: #333;
                        margin-bottom: 10px;
                        padding-top: 10px;
                        border-top: 1px solid #ddd;
                    }
                    .cont-read{
                        position: absolute;
                        right: 15px;
                        bottom: 65px;
                        background-color: #fff;
                        padding-left: 5px;
                        text-decoration: none;
                    }
                    .prod-price{
                        // color: red;
                        // font-size: 24px;
                        // position: relative;
                        // border-top: 1px solid #ddd;
                        // padding-top: 10px;
                        // height: 30px;
                        // .old{
                        //     color: #bbb;
                        //     font-size: 18px;
                        //     text-decoration: line-through;
                        //     margin-left: 15px;
                        // }
                        a{
                            float: right;
                            border-radius: 100%;
                            background-color: #ff4e3d;
                            width: 32px;
                            height: 32px;
                            text-align: center;
                            line-height: 28px;
                            font-size: 16px;
                            color: #fff;
                            transition: all .4s;
                            &:focus, &:hover{
                                background-color: #992e24;
                            }
                        }
                    }
                }
            }
            .cart-area{
                width: 100%;
                margin: 100px 0;
                table{
                    thead{
                        tr{
                            th{
                                text-align: center;
                            }
                        }
                    }
                    tbody{
                        tr{
                            td{
                                text-align: center;
                                vertical-align: middle;
                                .input-group{
                                    width: 200px;
                                    margin: auto;
                                }
                            }
                        }
                    }
                    tfoot{
                        .total-word{
                            font-size: 24px;
                            font-weight: bold;
                        }
                    }
                }
            }
            .form-area{
                width: 100%;
            }
            .modal{
                .modal-header {
                    padding: 20px;
                    background-color: #b074a9;
                    color: #fff;
                    border-top-left-radius: 5px;
                    border-top-right-radius: 5px;
                    .close {
                        cursor: pointer;
                    }
                }
                .modal-body {
                    padding: 20px;
                    background-color: #fff;
                    label {
                        display: block;
                        margin-bottom: 5px;
                    }
                    textarea,input:not([type="checkbox"]) {
                        width: 100%;
                        height: 36px;
                        border: 1px solid #ddd;
                        border-radius: 4px;
                        padding: 5px 10px;
                    }
                    textarea {
                        height: auto;
                        min-height: 72px;
                    }
                }
                .modal-footer {
                    border-top: 1px solid #ddd;
                    padding: 20px;
                    border-bottom-left-radius: 5px;
                    border-bottom-right-radius: 5px;
                    background-color: #fff;
                    span{
                        position: absolute;
                        left: 20px;
                    }
                }
                .form-team {
                    margin-bottom: 15px;
                    &.show-img{
                        position: relative;
                        width: 100%;
                        padding-top: 100%;
                        img{
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            width: auto;
                            height: auto;
                            max-width: 100%;
                            max-height: 100%;
                        }
                    }
                }
                .ckbox label {
                    display: inline-block;
                }
            }
            .btn {
                border: 0;
                border-radius: 4px;
                padding: 7px 14px;
                color: #fff;
                background-color: #ff4e3d;
                cursor: pointer;
                transition: all .4s;
                &:hover,&:focus {
                    background-color: #992e24;
                }
            }
            .prod-price .old:before,.prod-price:before{
                content: '$ ';
            }
        }
    }
    .hidden{
        display: none;
    }
    hr{
        width: 100%;
    }
    .clearfix{
        clear: both;
    }
    .prod-price{
        color: red;
        font-size: 24px;
        position: relative;
        border-top: 1px solid #ddd;
        padding-top: 10px;
        height: 30px;
        .old{
            color: #bbb;
            font-size: 18px;
            text-decoration: line-through;
            margin-left: 15px;
        }
    }
    .valid-feedback{
        color: green;
    }
    .required{
        color: red;
    }
}
